@page "/counter"
@using System.Security.Claims

<AuthorizeView>
    <Authorized>
        <label class="text-success">L'utilisateur : @context.User.FindFirst(ClaimTypes.GivenName).Value est autorisé</label>
    </Authorized>
    <NotAuthorized>
        <label class="text-danger">Utilisateur courant non autorisé</label>
    </NotAuthorized>
</AuthorizeView>

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
