@page "/exo2"
@using System.Security.Claims
<h3>ArticleList</h3>
<AuthorizeView>
    <Authorized>
        <div class="content">
            <div class="left">
                <div class="list-group">
                    @if (Articles is not null)
                    {
                        <Virtualize Items="Articles" Context="a">
                            <div class="list-group-item">
                                <label>@a.Label : @a.Price €</label>
                                @if(context.User.Identity != null) {
                                    <button class="btn btn-outline-primary"
                                    @onclick="() => SelectId(a.Id)">
                                        Detail
                                    </button>
                                }
                                
                            </div>
                        </Virtualize>
                    }

                </div>
            </div>
            <div class="right">
                @if(context.User.FindFirst(ClaimTypes.Role).Value == "admin") {
                    <div class="add">
                        <ArticleAdd NotifyRegister="GetItems" />
                    </div>
                }
                
                @if (SelectedId != 0)
                {
                    <div class="detail">
                        <ArticleDetail currentId="SelectedId" />
                    </div>
                }

            </div>
        </div>s
    </Authorized>
    <NotAuthorized>
        <div class="list-group">
            @if (Articles is not null)
            {
                <Virtualize Items="Articles" Context="a">
                    <div class="list-group-item">
                        <label>@a.Label : @a.Price €</label>
                        @if (context.User.Claims.Count() > 0)
                        {
                            <button class="btn btn-outline-primary"
                            @onclick="() => SelectId(a.Id)">
                                Detail
                            </button>
                        }

                    </div>
                </Virtualize>
            }

        </div>
    </NotAuthorized>
</AuthorizeView>
